/* Tag selector */
/* header{
    background: pink;
} */

/* Descendent selector
body header div nav ul li a{
    color: rebeccapurple;
} */

/* Class selector */
.link{
    color: rebeccapurple;
}

/* Id selector 
#portfalio{
    color: green;
}
*/

body{
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Fjalla One', sans-serif;
    font-weight: normal;
    /* text-transform: lowercase; */
    /* text-decoration: dashed; */
}

h1 {
    font-size: 40px;
    line-height: 1.5;
    letter-spacing: -.2px;
    color: white;
    margin: 0;
    /* margin: 100px 540px 70px 30px; */
}

h1 strong{
    color: teal;
}

h2 {
    color: teal;
    text-transform: uppercase;
    font-family: 'Source Sans Pro';
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 40px;
}

.hero{
    height: 300px;
    background-image: url('../images/hero.jpg');
    background-color: #1B252C;
    background-size: 500px 300px;
    background-repeat: no-repeat;
    background-position-x: right;
    display: flex;
    align-items: center;
}

.portfolio{
    background: #fafafa;
    padding: 20px;
}

.project{
    /* border-top: solid teal 13px;
    border-left: solid blueviolet 13px; */
    /* border-top-color: cadetblue;
    border-top-width: 15px;
    border-top-style: solid; */
    border: solid 1px grey;
    border-radius: 10px;
    margin: 10px;
    margin-bottom: 15px;
    padding: 20px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.project-course,
.project-date,
.project-url{
    margin: 10px 0;
}

.project-description {
    font-size: 20px;
    font-weight: bold;
}

.project strong {
    font-family: 'Fjalla One';
}

.project-title{
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 10px;
}

.project-details{
    width: 500px;
}

.project-imageContainer{
    width: 500px;
}

.header {
    background-color: #1B252C;
    color: white;
    display: flex;
    justify-content: space-between;
    height: 70px;
    align-items: center;
}

.header a{
    color: white;
    text-decoration: none;
    height: inherit;
    display: flex;
    align-items: center;
    padding: 0 10px;
}

.menu {
    height: inherit;
}

.header ul {
    display: flex;
    height: inherit;
}

.header ul li{
    height: inherit;
}

.flexbox {
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    justify-content: center;
    height: 300px;
    align-items: center;
    border: 1px solid blue;
}

.box {
    width: 50px;
    height: 50px;
    margin: 5px;
    border: 1px solid red;
    flex-shrink: 0;
}

.footer {
    color: white;
    background-color: #1B2127;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer img {
    vertical-align: middle;
}

.footer a {
    color: white;
}

ol, ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

figure {
    margin: 0;
}

.event-list {
    display: flex;
}

.event-list-title {
    margin-left: 20px;
}

.event {
    margin: 10px;
    background: #F4FBFF;
    width: 480px;
    border-radius: 10px;
    overflow: hidden;
    flex-shrink: 0;
}

.event img {
    width: 480px;
    height: 200px;
    object-fit: cover;
}

.event-detail {
    margin: 20px 40px;
    margin-top: -40px;
    background-color: white;
    position: relative;
    padding: 20px;
    text-align: center;
}

.event-description {
    text-align: left;
}

.event-url {
    border: 1px solid;
    padding: 5px 20px;
    text-decoration: none;
    color: teal;
    border-radius: 5px;
}

.contact {
    background-color: teal;
    color: white;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.social-link {
    width: 50px;
    height: 50px;
    display: inline-block;
    margin: 0 10px;
    background-size: 50px 50px;
}

.social-link.twitter{
    background-image: url('../images/twitter.svg');
}

.social-link.facebook{
    background-image: url('../images/facebook.svg');
}

.social-link.github{
    background-image: url('../images/github.svg');
}

.social-link.instagram{
    background-image: url('../images/instagram.svg');
}

.email-form input {
    border-color: rosybrown;
    padding: 10px 20px 10px 25px;
    border-radius: 5px;
    border-style: solid;
    background-image: url('../images/envelope.svg');
    background-size: 15px 15px;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 5px;
}

.email-form button {
    display: block;
    margin-top: 7.5px;
    background-color: transparent;
    color: white;
    padding: 10px 0;
    border-radius: 5px;
    width: 100px;
    margin-top: 10px;
    /* margin: 10px auto; */
}

.email-form h3 {
    font-family: 'Source Sans Pro';
    font-weight: bold;
}